<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Comic Convention</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ComicConventionManager.styles.css" asp-append-version="true" />
</head>
<body class="main-background">
    <header class="top-bar">
        <a asp-controller="Home"
           asp-action="Index"
           class="top-left"
           style="text-decoration:none; color:inherit;">

            <img src="~/images/logo.png" class="logo" />
            <span class="site-title">Comic Convention</span>
        </a>

        <div class="top-right">
            @if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
            {
                <a asp-controller="Schedule"
                   asp-action="Index"
                   class="top-link">
                    My Schedule
                </a>
            }

            @if (User.Identity.IsAuthenticated)
            {
                <span class="top-link">
                    @User.Identity.Name
                </span>

                <form asp-controller="Account"
                      asp-action="Logout"
                      method="post"
                      class="logout-form">

                    @Html.AntiForgeryToken()

                    <button type="submit" class="top-link logout-link">
                        Logout
                    </button>

                </form>
            }
            else
            {
                <a asp-controller="Account"
                   asp-action="Login"
                   class="top-link">
                    Login
                </a>
            }
        </div>
    </header>

    <div class="page-content">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
